<div class="row mt-5 light-text">
  <label class="col-md-2 mr-2 text">商品画像</label>
  <%= f.attachment_field :image, class:"col-md-5" %>
</div>
<div class="row mt-2 light-text">
  <label class="col-md-2 mr-2 text">商品名</label>
  <%= f.text_field :name, class:"col-md-3" %>
</div>
<div class="row mt-3 light-text">
  <label class="col-md-2 mr-2 text">商品説明<br><br><br><br></label>
  <%= f.text_area :body, class:"col-md-3" %>
</div>
<div class="row mt-2 light-text">
  <label class="col-md-2 mr-2 text">ジャンル</label>
  <%= f.collection_select :type_id, Type.all, :id, :name, include_blank: "選択して下さい", class:"col-md-4" %>
</div>
<div class="row mt-2 light-text">
  <label class="col-md-2 mr-2 text">価格</label>
  <%= f.text_field :price, class:"col-md-3 mr-1" %> 円
</div>
<div class="row mt-2 light-text">
  <label class="col-md-2 mr-2 text">ステータス</label>
  <div class="col-md-3">
    <%= f.radio_button :is_active, true %>
    <label>販売中</label>
    <%= f.radio_button :is_active, false %>
    <label>販売停止中</label>
  </div>
</div>