<div class="row mt-5">
  <label class="col-md-2 mr-2">商品画像</label>
  <%= f.attachment_field :image, class:"col-md-4" %>
</div>
<div class="row mt-2">
  <label class="col-md-2 mr-2">商品名</label>
  <%= f.text_field :name, class:"col-md-2" %>
</div>
<div class="row mt-3">
  <label class="col-md-2 mr-2">商品説明</label>
  <%= f.text_area :body, class:"col-md-7" %>
</div>
<div class="row mt-2">
  <label class="col-md-2 mr-2">ジャンル</label>
  <%= f.collection_select :type_id, Type.all, :id, :name, include_blank: "選択して下さい", class:"col-md-3" %>
</div>
<div class="row mt-2">
  <label class="col-md-2 mr-2">価格</label>
  <%= f.text_field :price, class:"col-md-2 mr-1" %> 円
</div>
<div class="row mt-2">
  <label class="col-md-2 mr-2">ステータス</label>
  <div class="col-md-4">
    <%= f.radio_button :is_active, true %>
    <label>販売中</label>
    <%= f.radio_button :is_active, false %>
    <label>販売停止中</label>
  </div>
</div>