<div class="container my-5">
  <div class="row">
    <h1>
      商品一覧
    </h1>
  </div>
  <h1><%= link_to "＋", new_admin_item_path, class: "btn btn-info btn-lg float-right" %></h1>
  <br>
  <div class="row mt-5">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td>
              <%= link_to admin_item_path(item.id) do %>
                <%= item.name %>
              <% end %>
            </td>
            <td>
              <%= item.price %>
              円
            </td>
            <td><%= item.type.name %></td>
            <td>
              <% if item.is_active == true %>
                販売中
              <% elsif item.is_active == false %>
                販売停止中
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>