<!-- form_with部分 -->
<%= form_with model:@item, url: admin_items_path, local:true do |f| %>
  
  <h4>商品画像</h4>
  <%= f.attachment_field :image %>
  
  <h4>商品名</h4>
  <%= f.text_field :name %>

  <h4>商品説明</h4>
  <%= f.text_area :body %>
  
  <h4>ジャンル</h4>
  <%= f.collection_select :type_id, Type.all, :id, :name, include_blank: "選択して下さい" %>
  
  <h4>商品説明</h4>
  <%= f.text_field :price %>
  
  ステータス

  <%= f.submit '投稿' %>

<% end %>