<div id="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <%= render "shared/flash_message" %>
    </div>
  </div>
　<div class="row item-show-box">
    <div class="offset-2 mt-5 col-4">
      <div><%= attachment_image_tag @item, :image, :fill, 400, 300, fallback: "no_image.jpg", size: "400x300" %></div>
    </div>
    <div class="mt-5 col-md-6">
      <p class="text"><%= @item.name %></p>
      <p class="light-text"><%= @item.body %></p>
      <p class="light-text">¥ <%= (@item.price.to_i * 1.1).floor %>（税込）</p>
      <%= link_to "Edit", edit_admin_item_path(@item), class: "btn btn-success mr-4 col-2" %>
    </div>
  </div>
</div>
