<div class="container">
  
  <h2>管理者ログイン</h2>
  
  <%= form_with model: @admin, url: admin_session_path do |f| %>
  
    <div class="form-group">
      <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    
    <div class="form-group">
      <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, autocomplete: "current_password" %>
    </div>
    
    <div class="form-group">
      <%= f.submit "ログイン" %>
    </div>
    
  <% end %>
  
</div>
