<div class="container my-5">
  <%= render "shared/flash_message" %>
  <div class="row">
    <h3 class="text title-text">
      Genre List...
    </h3>
    <div class="ml-md-5 light-text">
      <%= form_with model:@type, url: admin_types_path, local:true do |f| %>
        <label class="text">ジャンル名</label>
        <%= f.text_field :name %>
        <%= f.submit '-New-', class: "btn btn-success btn-sm" %>
      <% end %>
    </div>
  </div>

  <div class="row mt-5">
    <table class="table col-md-4 border">
      <thead class="table-active text">
        <th>ジャンル</th>
        <th></th>
      </thead>
      <tbody>
        <% @types.each do |type| %>
          <tr class="light-text">
            <td><%= type.name %></td>
            <td><%= link_to "Edit", edit_admin_type_path(type.id), class: "btn btn-success btn-block" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="pagination"><%= paginate @types, theme: 'twitter-bootstrap-4' %></div>
</div>