<div class="container my-5">
  <!--フラッシュメッセージ-->
  <%= render "shared/cart_order_flash" %>

  <div class="row">
    <div class="offset-1 text-center">
      <h3 class="title-sub-text text">
        Order history details...
      </h3>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-9">

      <table class="table table-borderless">

        <tbody>
          <tr>
            <td class="table-active text">購入者</td>
            <td class="light-text">
              <%= link_to @order.name, admin_customer_path(@order.customer), class: "text-dark" %>
            </td>
          </tr>
          <tr>
            <td class="table-active text">注文日</td>
            <td class="light-text"><%= @order.created_at.strftime('%Y年/%m月/%d日') %></td>
          </tr>
          <tr>
            <td class="table-active text">配送先</td>
            <td class="light-text">
              〒<%= @order.zip_code %><br>
                <%= @order.address %><br>
                <%= @order.name %> 様
            </td>
          </tr>
          <tr>
            <td class="table-active text">支払方法</td>
            <td class="light-text"><%= @order.pay_method %></td>
          </tr>
          <tr>
            <td class="table-active text">注文ステータス</td>
            <td class="light-text">
              <%= form_with model: @order, url: admin_order_path(@order), local: true,method: :patch do |f| %>
                <%= f.select :order_status, [["入金待ち", "入金待ち"], ["入金確認","入金確認"],["製作中","製作中"],["発送準備中","発送準備中"],["発送済み","発送済み"]], class: "form-control" %>
                <%= f.submit "Up date", class: "btn btn-primary btn-sm" %>
              <% end %>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-9">

      <table class="table table-borderless table-hover">
        <thead class="table-active">
          <tr class="text">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
            <th>制作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_items.each do |order_item| %>
          <tr class="light-text">
            <td><%= order_item.item.name %></td>
            <td><%= order_item.tax_price %></td>
            <td><%= order_item.quantity %></td>
            <td><%= order_item.tax_price * order_item.quantity %></td>
            <td>
              <%= form_with model: order_item, url: admin_order_item_path(order_item), local: true, method: :patch do |f| %>
                <%= f.select :product_status, [["着手不可", "着手不可"], ["製作待ち","製作待ち"],["製作中","製作中"],["製作完了","製作完了"]], class: "form-control" %>
              　<%= f.submit "Up date", class: "btn btn-primary btn-sm" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-3">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td class="table-active text">商品合計</td>
            <td class="light-text">
              <%= @order.total_money - @order.fare %>
            </td>
          </tr>
          <tr>
            <td class="table-active text">送料</td>
            <td class="light-text"><%= @order.fare %></td>
          </tr>
          <tr>
            <td class="table-active text">請求合計金額</td>
            <td class="light-text"><%= @order.total_money %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>