<div class="container">

  <%= render "shared/flash_message" %>

  <h3 class="my-4 text title-text">Address New / List...</h4>

  <%= form_with model: @address, local:true do |f| %>

    <div class="form_group row mt-5 mb-3 text">
      <%= f.label :zip_code, "郵便番号(ハイフンなし)", class: "col-form-label col-3" %>
      <div class="col-3 text">
        <%= f.text_field :zip_code, class: "form-control", placeholder: "00000000" %>
      </div>
    </div>

    <div class="form_group row mb-3 text">
      <%= f.label :address, "住所", class: "col-form-label col-3" %>
      <div class="col-7 text">
        <%= f.text_field :address, class: "form-control", placeholder: "東京都渋谷区代々木神園町0-0" %>
      </div>
    </div>

    <div class="form_group row mb-3 text">
      <%= f.label :name, "宛名", class: "col-form-label col-3" %>
      <div class="col-3 text">
        <%= f.text_field :name, class: "form-control", placeholder: "令和道子" %>
      </div>
      <div class="col-2 offset-2 text-right text">
        <%= f.submit "New", class: "btn btn-success btn-block" %>
      </div>
    </div>

  <% end %>

  <div class="row my-5">
    <div class="col-10">
      <table class="table table-bordered table-hover">

        <thead class="table-active text text-size">
          <tr>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th class="w-25"></th>
          </tr>
        </thead>

        <tbody>
          <% @addresses.each do |address| %>
            <tr class="text">
              <td><%= address.zip_code %></td>
              <td><%= address.address %></td>
              <td><%= address.name %></td>
              <td>
                <%= link_to "Edit", edit_address_path(address.id), class: "btn btn-success col-5" %>
                <%= link_to "Delete", address_path(address.id), method: :delete, class: "btn btn-danger col-5" %>
              </td>
            </tr>
          <% end %>
        </tbody>

      </table>
    </div>
  </div>


</div>