<div class="container">
  
  <div class="row">
    
    <div class="col-10 mx-auto">
      
      <h2 class="mt-4 mb-5">新規会員登録</h2>

      <%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
        
        <%= render "shared/form_error", model: @customer %>

        <div class="form-group row">
          <div class="col-2">
            <%= f.label "名前" %>
          </div>
          <div class="col-2 text-right">
            <span>(姓)</span>
          </div>
          <%= f.text_field :last_name, autofocus: true, placeholder: "令和" %>
          <div class="col-1 text-right ml-3">
            <span>(名)</span>
          </div>
          <%= f.text_field :first_name, autofocus: true, placeholder: "道子" %>
        </div>

        <div class="form-group row">
          <div class="col-2">
            <%= f.label :last_name_kana, "フリガナ" %>
          </div>
          <div class="col-2 text-right">
            <span>(セイ)</span>
          </div>
          <%= f.text_field :last_name_kana, autofocus: true, placeholder: "レイワ" %>
          <div class="col-1 text-right ml-3">
            <span>(メイ)</span>
          </div>
          <%= f.text_field :first_name_kana, autofocus: true, placeholder: "ミチコ" %>
        </div>

        <div class="form-group row">
          <%= f.label :email, "メールアドレス", class: "col-md-4" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "col-md-2" %>
        </div>

        <div class="form-group row">
          <%= f.label :zip_code, "郵便番号（ハイフンなし）", class: "col-md-4" %>
          <%= f.text_field :zip_code, autofocus: true, placeholder: "0000000", class: "col-md-2" %>
        </div>

        <div class="form-group row">
          <%= f.label :address, "住所", class: "col-md-4" %>
          <%= f.text_field :address, autofocus: true, placeholder: "東京都渋谷区代々木神園町0-0", class: "col-md-5" %>
        </div>

        <div class="form-group row">
          <%= f.label :phone_number, "電話番号（ハイフンなし）", class: "col-md-4" %>
          <%= f.text_field :phone_number, autofocus: true, placeholder: "0000000000", class: "col-md-2" %>
        </div>

        <div class="form-group row">
          <%= f.label :password, "パスワード（６文字以上）", class: "col-md-4" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "col-md-2" %>
        </div>

        <div class="form-group row">
          <%= f.label :password_confirmation, "パスワード（確認用）", class: "col-md-4" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-md-2" %>
        </div>

        <div class="form-group row">
          <%= f.submit "新規登録", class: "col-md-2 offset-md-4 btn btn-success" %>
        </div>

      <% end %>

    <h4 class="mb-4">既に登録済みの方</h4>
    <p class="ml-5 mb-4">
      <u>
        <%= link_to "こちら", new_customer_session_path %>
      </u>
      からログインしてください。
    </p>
    
    </div>
    
  </div>

</div>