<h1>注文情報入力</h1>

<%= form_with model: @order, local: true do |f| %>
 <%= f.hidden_field :customer_id, :value => current_customer.id %>

	<h2>支払い方法</h2>

		<%= f.radio_button :pay_method, :yes, checked: true %>
		<span>クレジットカード</span>
		<%= f.radio_button :pay_method, :no %>
		<span>銀行振込</span>

	<h2>お届け先</h2>

			<%= f.label :zip_code, "郵便番号(ハイフンなし)" %>
			<%= f.text_field :zip_code, placeholder: "0000000" %></br>
			<%= f.label :address, "住所" %>
			<%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %></br>
			<%= f.label :name, "宛名" %>
			<%= f.text_field :name, placeholder: "令和道子" %></br>
		<%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
<% end %>
あいうえお