<h1>注文情報確認</h1>

<table border=1>
	<thead>
		<tr>
			<th>商品名</th>
			<th>単価(税込)</th>
			<th>数量</th>
			<th>小計</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<% @cart_items.each do |cart_item| %>
				<td><%= item.name %></td>
				<td><%= cart_item.items_id.tax_price(cart_item.items_id.price) %></td>
				<td><%= cart_item.items_id.quantity %></td>
				<td><%= tax_price * cart_item.quantity %></td>
			<% end %>
		</tr>
	</tbody>
</table>

<table border=1>
	<th>送料</th>
	<td></td>
	<th>商品合計</th>
	<td></td>
	<th>請求金額</th>
	<td></td>
</table>

<h2>支払い方法</h2>
<h2>お届け先</h2>

<%= link_to "注文を確定する", orders_complete_path, class: "btn btn-success" %>