<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if customer_signed_in? %>
        <%= render 'homes/header_public' %>
      <% elsif admin_signed_in? %>
        <%= render 'homes/header_admin' %>
      <% else %>
        <%= render 'homes/header_logout' %>
      <% end %>
    </header>

    <%= yield %>

    <footer class="footer text-white bg-dark">
      <div class="row">
        <div class="offset-8 mt-3">
          <p>©CopyRight TyanTyans.inc</p>
        </div>
      </div>
    </footer>
  </body>
</html>
